@media  (max-width: 768px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 375px;}
.style0 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 56px;
height: 56px;
align-items: center;
flex-direction: column;
justify-content: center;}
.style1 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
display: flex;
width: 44px;
height: 44px;
flex-direction: column;}
.iphone6781container0container1row0 {
position: relative;
display: flex;
margin-top: 10px;
width: 16px;
height: 22px;
align-items: stretch;
align-self: center;}
.style3 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
position: relative;
width: 1px;
flex-shrink: 0;}
.iphone6781container0container1row0column1 {
display: flex;
width: 15px;
align-items: center;
flex-direction: column;
flex-shrink: 0;}
.style2 {
color: #707070;
font-family: 'arial',serif;
font-size: 1.375em;
height: 22px;}
.style5 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
width: 5px;
height: 5px;}
.style4 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
position: relative;
margin-left: 23px;
margin-top: 0px;
width: 8px;
height: 5px;}
}@media  (min-width: 768px)  and  (max-width: 920px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 768px;}
.style0 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 115px;
height: 115px;
align-items: center;
flex-direction: column;
justify-content: center;}
.style1 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
display: flex;
width: 90px;
height: 90px;
flex-direction: column;}
.iphone6781container0container1row0 {
position: relative;
display: flex;
margin-top: 20px;
width: 33px;
height: 45px;
align-items: stretch;
align-self: center;}
.style3 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
position: relative;
width: 2px;
flex-shrink: 0;}
.iphone6781container0container1row0column1 {
display: flex;
width: 31px;
align-items: center;
flex-direction: column;
flex-shrink: 0;}
.style2 {
color: #707070;
font-family: 'arial',serif;
font-size: 2.816em;
height: 45px;}
.style5 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
width: 10px;
height: 10px;}
.style4 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
position: relative;
margin-left: 47px;
margin-top: 0px;
width: 16px;
height: 10px;}
}@media  (min-width: 920px)  and  (max-width: 1200px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 920px;}
.style0 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 137px;
height: 137px;
align-items: center;
flex-direction: column;
justify-content: center;}
.style1 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
display: flex;
width: 108px;
height: 108px;
flex-direction: column;}
.iphone6781container0container1row0 {
position: relative;
display: flex;
margin-top: 25px;
width: 39px;
height: 54px;
align-items: stretch;
align-self: center;}
.style3 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
position: relative;
width: 2px;
flex-shrink: 0;}
.iphone6781container0container1row0column1 {
display: flex;
width: 37px;
align-items: center;
flex-direction: column;
flex-shrink: 0;}
.style2 {
color: #707070;
font-family: 'arial',serif;
font-size: 3.373333333333333em;
height: 54px;}
.style5 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
width: 12px;
height: 12px;}
.style4 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
position: relative;
margin-left: 56px;
margin-top: 0px;
width: 20px;
height: 12px;}
}@media  (min-width: 1200px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 1200px;}
.style0 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 179px;
height: 179px;
align-items: center;
flex-direction: column;
justify-content: center;}
.style1 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
display: flex;
width: 141px;
height: 141px;
flex-direction: column;}
.iphone6781container0container1row0 {
position: relative;
display: flex;
margin-top: 32px;
width: 51px;
height: 70px;
align-items: stretch;
align-self: center;}
.style3 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
position: relative;
width: 3px;
flex-shrink: 0;}
.iphone6781container0container1row0column1 {
display: flex;
width: 48px;
align-items: center;
flex-direction: column;
flex-shrink: 0;}
.style2 {
color: #707070;
font-family: 'arial',serif;
font-size: 4.4em;
height: 70px;}
.style5 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
width: 16px;
height: 16px;}
.style4 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
position: relative;
margin-left: 74px;
margin-top: 0px;
width: 26px;
height: 16px;}
}